body{
	background-color:yellow;
	font-family:arial;
	font-size:14px;
}
h3{
	color:red;
	
}
#container{
	width:460px;
	margin:auto;
	border:1px solid #cccccc;
	padding:0 20px 20px 20px;
	border-radius:10px;
	text-align:center;
	background:white; 
}
img{
	border:black 2px solid;
	padding:2px;
}